mj-section
    mj-column
        mj-image(padding="0" width="700px" src="./images/29stockage.png" alt="")/
        mj-text(padding="0" align="center") Protégez vos données
        mj-text(padding="0" align="center") Toutes les entreprises produisent des données pour différents aspects de leur activité. La sauvegarde de ces données est essentielle pour tout plan opérationnel ou de continuité d'activité. Si vous recherchez une solution de sauvegarde de données, ReadyNAS est la meilleure alternative pour les PME ayant un budget limité. Hautement évolutives, ces solutions sont fiables et offrent une sécurité exceptionnelle.
        mj-button retrouvez toutes nos offres sur le stockage
        mj-text(padding="0" align="center") * Offres spéciales partenaires valables chez les distributeurs officiels ALSO, INGRAM, EXERTIS, TECH DATA jusqu'au 24/09/2021 dans la limite des stocks facturables. Non cumulables avec d'autres offres spéciales. Ces offres peuvent être arrêtées à tout moment par NETGEAR. Prix d'achat revendeur promotionnels indicatifs, les distributeurs NETGEAR sont libres de fixer leur prix de revente.