mj-section
    mj-column 
        mj-text(padding="0" align="center" mj-class="T35-300" line-height="45px") Nouvelles promotions partenaires 
        mj-text(padding="0" align="center" mj-class="T27-300" line-height="45px") 3e trimestre