mj-section
    mj-column
        mj-image(src="./images/illustrationWAX214.png" alt="")/
        mj-text Un WiFi puissant et abordable
        mj-text Des TPE aux PME, NETGEAR propose une gamme de produits WiFi qui fournit des connexions ultra-rapides à un tarif abordable. Déployez un WiFi professionnel, sécurisé et fiable avec NETGEAR.
    mj-group
        mj-column
            mj-image(src="./images/wax214.png" alt="")/
        mj-column
            mj-text wax124
            mj-text WiFi 6 AX1800 1.8 Gbit
            mj-text Dual band (2.4 GHz et 5.0 GHz)
            mj-text Port Ethernet Gigabit
            mj-text Alimentable en PoE
            mj-text Garantie : 5ans
            mj-text Référence : WAX214-100EUS
    mj-column
        mj-button retrouvez toutes nos offres wifi